<h3>Users:</h3>
<% if notice %>
<p id="notice"><%= notice %>
<% end %>
<table class="table table-striped">
  <tr>
 		<th>Logo</th>
    <th>Name</th>
    <th>Email</th>
    <th>Discount</th>
    <th>Parent</th>
    <th>Actions</th>  
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.logo.url(:thumb) %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.discount %></td>
    <td><%= user.parent.name if !user.parent.nil? %></td>
    <td><%= link_to "<i class='icon-zoom-in'></i>".html_safe, user %>
    <%= link_to "<i class='icon-edit'></i>".html_safe %>
    <%= link_to "<i class='icon-remove'></i>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }%>
  </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path,:class => 'btn btn-primary' %>
