<p id="notice"><%= notice %></p>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= t(:order_date) %>
    <%= f.text_field :order_date %></br>
    Email
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= t(:comments)  %><br />
    <%= f.text_field :comment, class: "span9" %>
  </div>

  <table class='table table-bordered table-hover'>
    <tr class='info'>
      <td> Product </td>
      <td> Quantity </td>
      <td> Summ </td>
    </tr>
    <tbody>
    <% if !@order.line_items.empty? %>
     <% total_price = 0 %>
      <%= render(@order.line_items) %>
      <% total_price = @order.total_price %>
    <% elsif (@cart != nil) %>
      <%= render(@cart.line_items) %>
      <% total_price = @cart.total_price %>
    <% end %>
    <tr>
      <td colspan='2'>Total:</td>
      <td><%= total_price %></td>
    </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Отправить", class:'btn btn-success' %>
    <%= link_to "Назад", orders_path, class:'btn' %>
  </div>

<% end %>





