<h1><%= t('.listing_orders') %></h1>

<table class='table table-bordered table-hover'>
  <tr class='info'>
    <th><%= t(:number_order) %></th>
    <th><%= t(:date_order) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:user) %></th>
    <th><%= t(:total) %></td>
    <th>Email</th>
    <th><%= t(:comments) %></th>
    <th></th>
  </tr>
<tbody>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.order_date.strftime("%B %d, %Y") %></td>
    <td><%= order.status %></td>
    <td><%= order.user.name unless order.user.nil? %></td>
    <td><%= order.total_price %></td>
    <td><%= order.email %></td>
    <td><%= order.comment %></td>
    <td>
    	<%= link_to "<i class='icon-zoom-in'></i>".html_safe, order, class:'btn btn-mini' %>
    	<%= link_to "<i class='icon-edit'></i>".html_safe, edit_order_path(order), class:'btn btn-mini' if can? :update, order %>
    	<%= link_to "<i class='icon-remove'></i>".html_safe, order, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-mini' if can? :destroy, order %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<p><%= will_paginate @orders %></p>
