<h1><%= t('.listing_orders') %></h1>

<table class='table table-bordered table-hover'>
  <tr class='info'>
    <th><%= t('.number') %></th>
    <th><%= t('.date') %></th>
    <th><%= t('.status') %></th>      
    <th><%= t('.user') %></th>
    <th>Total</td>    
    <th>Email</th>
    <th><%= t('.comments') %></th>
    <th></th>
  </tr>
<tbody>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.order_date.strftime("%B %d, %Y") %></td>
    <td><%= order.status %></td>
    <td><%= order.user.name unless order.user.nil? %></td>
    <td><%= order.total_price %></td>    
    <td><%= order.email %></td>
    <td><%= order.comment %></td>
    <td>
    <%= link_to 'Show', order, class:'btn btn-mini' %>
    <% if can? :update, order %>
      <%= link_to 'Edit', edit_order_path(order), class:'btn btn-mini' %>
    <% end %>
    <% if can? :destroy, order %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-mini' %>
    <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<p><%= will_paginate @orders %></p>