<p>
  <b>Date:</b>
  <%= @order.order_date.strftime("%B %d, %Y") %>
  <b>User:</b>
  <%= @order.user.name %>
</p>
<p>
  <b>Comments:</b>
  <%= @order.comment %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
  <b>Status: <%= @order.status %>
</p>


<%= link_to 'Edit', edit_order_path(@order), class:'btn btn-mini' %> |
<%= link_to 'Back', orders_path, class:'btn btn-mini' %>
