<p>
  <b>Дата:</b>
  <%= @order.order_date.strftime("%B %d, %Y") %>
  <b>Пользователь:</b>
  <%= @order.user.name %>
</p>
<p>
  <b>Email:</b>
  <%= @order.email %>
  <b>Статус: <%= @order.status %>
</p>
<p>
  <b>Коментарий:</b>
  <%= @order.comment %>
</p>

<table class='table table-bordered table-hover'>
  <tr class='info'>
    <td colspan='2'> Товар </td>
    <td> Количество </td>
    <td> Цена </td>
    <td> Сумма </td>
  </tr>
  <tbody>
  <% if !@order.line_items.empty? %>
   <% total_price = 0 %>
    <%= render(@order.line_items) %>
    <% total_price = @order.total_price %>
  <% elsif (@cart != nil) %>
    <%= render(@cart.line_items) %>
    <% total_price = @cart.total_price %>
  <% end %>
  <tr>
    <td colspan='4'>Итог:</td>
    <td><%= total_price %></td>
  </tr>
</tbody>
</table>

<%= link_to 'Назад', orders_path, class:'btn btn-mini' %>
