<ul class='breadcrumb'>
	<li><%= t(:cart) %></li>
</ul>
<table class='table table-bordered table-hover'>
	<tr class='info'>
		<td><%= t(".Product") %> </td>
		<td><%= t(".Quantity") %> </td>
		<td><%= t(".Summ") %></td>
	</tr>
	<tbody>
	
	<%= render(cart.line_items) %>
	<tr>
		<td colspan='2'>Total:</td>
		<td><%= cart.total_price %></td>
	</tr>
</tbody>
</table>
<%= link_to t(".Empty_Ñart"), cart, method: :delete, confirm: "Are you sure?", class:'btn btn-primary' %>
<%= link_to t(".Checkout"), new_order_path, class:'btn btn-success' %>