<h2 class="brdr-btm">Корзиина</h2>
<hr class="soft"></hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th colspan="2">Товар</th>
			<th>Количество</th>
			<th>Цена</th>
			<th>Сумма</th>
		</tr>
	</thead>	
	<tbody>
		<%= render(cart.line_items) %>	
		<tr>		
			<td colspan="2" style="text-align:right"><strong><%= t :total %></strong></td>
			<td colspan="2"><%= cart.total_quantity %></td>
			<td class="label label-important" style="display:block">
				<strong><%= cart.total_price %></strong>
			</td>
		</tr>
	</tbody> 
</table>
<hr class="soft"></hr>
<%= link_to 'Продолжить', :back, class:'btn btn-large' %>
<%= link_to t(".Empty_сart"), cart, method: :delete, confirm: "Are you sure?", class:"btn btn-large btn-danger" %>
<%= link_to 'Оформить', new_order_path, class:'btn btn-large pull-right' %>


