<div class="span5 offset2">
	<div class="template_header">
	<h2 class="title"><%= t(".sign_in") %></h2>
	</div>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {id:'customer_login'}) do |f| %>
		
	 
		<div class='clearfix large_form'> 
			<%= f.label :email, class:'login' %>
			<%= f.email_field :email, :autofocus => true, class: 'large' %> 
		</div>
		
		<div id='input_password' class='clearfix large_form'>
			<%= f.label :password, class:'login' %>
			<%= f.password_field :password, class: 'large' %>
		
		

		<div id="forgot_password">
		 	<% if false %>
				<% if devise_mapping.rememberable? -%>
			   		<%= f.check_box :remember_me %><%=t(".remember_me") %><br />
			  	<% end %>
			<% end %>
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  			<%= link_to "Забыли пароль?", new_password_path(resource_name) %>
			<% end -%>
		</div>
		</div>

	  

		<div class="action_bottom">
	  		<%= f.submit t(".sign_in") , class:'btn' %>
	  		<span class='note'></span>
		</div>
	<% end %>
</div>	


