<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.user.name if post.user %></td>
    <td><%= link_to 'Show', post %></td>
    <% if can? :update, Post %>
			<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<% end %>
		<% if can? :delete, Post %>
	    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @posts %>
	<%= link_to 'New Post', new_post_path if can? :create, Post  %>
