<h2 class="brdr-btm">News</h2>

<div class="blog-meta">
	<% @posts.each do |post| %>
		<p class='date'><%= post.created_at.strftime("%m/%d/%Y") %></p>
		<h1><%= link_to post.title.html_safe, post %></h1>
		<%= truncate(post.body, length: 400).html_safe %>
		<%= link_to "Читать", post %>	
	<% end %>
</div>

<div class='btn-bottom'>
	<%= will_paginate @posts %>
	<%= link_to t(:new), new_post_path, class:'btn btn-success' if can? :create, Post %>
</div>
