
<div>
  <h1><%= @post.title %></h1>
</div>

<div>
  <%= @post.body.html_safe %>
</div>

<div class='btn-bottom'>
	<%= link_to "Назад", posts_path, class:'btn'%>
	<%= link_to "Редактировать", edit_post_path(@post), class:'btn' if can? :update, Post %>
	<%= link_to "Удалить", posts_path, method: :delete, :confirm => 'Удалить?',  class:'btn btn-danger' if can? :delete, Post %>
</div>
