

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <%= @post.body.html_safe %>
</p>

<p>
  <%= @post.user.name if @post.user %>
</p>

<div class='btn-bottom'>
	<%= link_to t(:edit), edit_post_path(@post), class:'btn' if can? :update, Post %>
	<%= link_to t(:back), posts_path, class:'btn'%>
</div>
