<h3><%= t(".Products") %></h3>
<% if false %>
<p><%= link_to t(:show_quantity), show_quantity_products_path(products:@products.map(&:id)), class: 'btn btn-primary', remote: true %></br></p>
<% end %>
<hr class="soft">
<div class="tab-content">
	<div class="tab-pane active" id="blockView">
		<ul class="thumbnails">
			<% @products.each do |product| %>
				<li class='span3'>        		
					<div class="thumbnail">
						<%= link_to  product do %>
						<div class="h300">
							<%= image_tag(product.get_head_asset.data.url(:medium)) unless product.get_head_asset.nil? %>
						</div>
						<% end %>
						<div class="caption">
							<h5><%= truncate(product.title, length: 22) %></h5>
							<p> <%= "Код:#{product.id}" %> </p>
							<!-- <p id=<%="quantity#{product.id}" %>></p> -->		
							<h4 style="text-align:center">
								<%= link_to'<i class="icon-zoom-in"></i>'.html_safe,  product, class: 'btn' %>						
								<%= link_to 'Купить<i class="icon-shopping-cart"></i>'.html_safe, line_items_path(product_id: product), method: :post, remote: true, class: 'btn' %>
								<a class="btn btn-primary" href="#">&euro;<%= product.price %></a>
							</h4>
						</div>	
					</div>				
				</li>	                   
			<% end %>
		</ul>
	</div>
</div>
<%= will_paginate @products %>

<div class='btn-bottom'>
	<p><%= link_to t(:NewProduct), new_product_path, class:'btn' if can? :create, Product %></p>    			
</div>






