<h1><%= t(".Products") %></h1>
<ul class="thumbnails">
    <% @products.each do |product| %>
        <li class='span3'>
            <%= link_to  product do %>
                <div class='thumbnail'>              
            	   <%= image_tag(product.assets.first.data.url(:thumb)) unless product.assets.first.nil? %>
                    <h3><%= product.title %></h3>
                    <p>UAN <%= product.price %></p>
                    <% if can? :update, product %>
					<%= link_to 'Edit', edit_product_path(product), class: "btn btn-mini btn-inverse" %>
                    <% end %>
                    <% if can? :delete, product %>
                    <%= link_to 'Destroy', product, method: :delete, confirm: "Are you sure?", class: "btn btn-mini btn-danger" %>
                    <% end %>                    
                    <%= link_to t('.Add_to_cart'), line_items_path(product_id: product), method: :post, class: 'btn', remote: true %>              
                </div>
            <% end %>
        </li>
    <% end %>
<ul>
<div class='span9 offset3'>
    <%= will_paginate @products %>
    <%= link_to 'New Product', new_product_path, class:'btn btn-success' %>
</div>

