


    <h2 class="brdr-btm"><%= t(".Products") %></h2>
    <% if false %>
    <p><%= link_to t(:show_quantity), show_quantity_products_path(products:@products.map(&:id)), class: 'btn btn-primary', remote: true %></br></p>
    <% end %>


    	<% @products.each do |product| %>
    		<div class='item'>        		
				
				<p class="product-name">				
				<%= link_to  product do %>
					<%= image_tag(product.assets.first.data.url(:medium)) unless product.assets.first.nil? %>
					 <%= truncate(product.title, length: 22) %>
				<% end %>
				</p>		
								
				<p>UAN <%= product.price %> PLU: <%= product.id %> </p>
				
				<p id=<%="quantity#{product.id}" %>></p>
				<p class='act'>
					<%= link_to t('.Add_to_cart'), line_items_path(product_id: product), method: :post, class: 'cta', remote: true %>
				</p>				
			</div>	                   
    	<% end %>

    	<%= will_paginate @products %>
    	
    	<div class='btn-bottom'>
    		<p><%= link_to t(:NewProduct), new_product_path, class:'btn' if can? :create, Product %></p>    			
    	</div>

    
	
	
    

