<div class="row">
  <div class="span4">
    <div id="gallery">
      <div id="slides">  
          <% @product_assets.each do |assets| %>          
            <%= image_tag(assets.data.url(:medium)) %>
          <% end %>
      </div> 
    </div>  
  </div>
  <div class="span5">
      <div class="product-detail">
        <h3><%= @product.title %></h3>
        <!--<p class="sale"> sale</p>-->
        <small><%= @product.product_category.name %></small>
        <hr class="soft"></hr>
        <!--<span id='product_quantity' > </span>-->
        <p>        
            <%= @product.product_state.name unless @product.product_state.nil? %>
        </p>

        <%= form_tag '/line_items', :remote => true, class:"form-horizontal qtyFrm" do %>
          <div class="control-group">
            <label class="control-label">
               <span><%= @product.price%></span> 
            </label>
            <div class="controls">
              <%= number_field_tag :quantity, 1, size: 2, class:"span1" %>
              <%= hidden_field_tag  :product_id, @product.id %>
              <%= submit_tag 'Добавить', class: 'btn btn-large btn-primary pull-right' %>  
            </div>
          </div>
        <% end %> 
        <!--
        <% if false %>
          <p><%= link_to t(:show_quantity), product_path(@product, show_quantity: true), remote: true, class: 'btn' %></p>
        <% end %>
        -->
        <hr class="soft"></hr>
        <p><%= @product.description.html_safe %></p>
      </div>
  </div>
  <div class='span9'>
    <hr class="soft"></hr>
    <%= link_to t(:back), products_path, class: 'btn' %>    
    <%= link_to t(:edit), edit_product_path(@product),  class: 'btn' if can? :update, @product %>
  </div>
</div>

