<div class="product-container">  
  <div class="product-detail">

    <h2><%= @product.title %></h2>
    <p class="sale"> sale</p>
    <p class="brand"><%= @product.product_category.name %></p>
    

    <div class="product-mid">
      <p class="price"><span><%= @product.price%></span></p>
      <p>
        <b><%= t(:product_state) %>:</b>
        <%= @product.product_state.name unless @product.product_state.nil? %></br>
        <p><span id='product_quantity' > </span></p></br>    
      </p>
      <p class='stock'></p>
      <p class='act'>
        <%= form_tag ({controller:'line_items', action:'create'} ) do %>
          <%= text_field_tag :quantity %>
          <%= hidden_field_tag  :product_id, @product.id %>  </br>       
          <%= submit_tag "Update", class: 'cta' %>
        <% end %>  
        <% if false %>
        <%= link_to t('.Add_to_cart'), line_items_path(product_id: @product), method: :post, class: 'cta', remote: true %>
        <% end %>
      </p>
    </div>

    <ul class="share-list">
      <li><%= link_to t(:show_quantity), product_path(@product, show_quantity: true), remote: true, class: 'btn' %></li>      
      <li><%= link_to "<li>#{t(:edit)}</li>".html_safe, edit_product_path(@product),  class: 'btn' if can? :update, @product %></li>
    </ul>

<%= link_to t(:back), products_path, class: 'btn' %> |
  </div>


  <div id="product-gallery">
    <div id="slides">
      <% @product_assets.each do |assets| %>          
        <div class="slide"><%= image_tag(assets.data.url(:medium), size: "300x300") %></div>
      <% end %>
    </div>
    <div id="menu">
      <ul class="slide-list">
        <li class="fbar">&nbsp;</li>
        <% @product_assets.each do |assets| %>
          <li class="menuItem"> <a href=""> <%= image_tag(assets.data.url(:thumb), class:"menu-image") %> </a></li>
        <% end %>
      </ul>
    </div>
  </div>    
    
  
</div>

<script type="text/javascript">

  var totWidth = 0;
  var positions = new Array();

  $('#slides .slide').each (function(i)
  {
          positions[i] = totWidth;
          totWidth += $(this).width();

          if (!$(this).width())
          {
                  alert("Please, fill in width & height for all your images!");
                  return false;
          }
  });

  $('#slides').width(totWidth);
  /* Change the  cotnainer div's width to the exacr width of all the slides combined  */

  $('#menu ul li a').click(function(e){
          /* On a thumbnail click*/
          $('li.menuItem').removeClass('act').addClass('inact');
          $(this).parent().addClass('act');

          var pos = $(this).parent().prevAll('.menuItem').length;
          $('#slides').stop().animate({marginLeft: -positions[pos]+'px'}, 450);

          e.preventDefault();
  });
  $('#menu ul li.menuItem:first').addClass('act').siblings().addClass('inact');

  </script>


