<div class="row">
  <div class="span3">
    <div id="gallery">
      <div id="slides">  
          <% @product_assets.each do |assets| %>          
            <%= image_tag(assets.data.url(:medium)) %>
          <% end %>
      </div> 
    </div>  
  </div>
  <div class="span6">
      <div class="product-detail">
        <h2><%= @product.title %></h2>
        <!--<p class="sale"> sale</p>-->
        <p class="brand"><%= @product.product_category.name %></p>    

        <div class="product-mid">
          <p class="price"><span><%= @product.price%></span></p>
          
          <p>
            <b><%= t(:product_state) %>:</b>
            <%= @product.product_state.name unless @product.product_state.nil? %></br>
            <p><span id='product_quantity' > </span></p></br>    
          </p>

          <p class='stock'></p>

          <p class='act'>
            <%= form_tag '/line_items', :remote => true do %>
              <%= number_field_tag :quantity, 1, size: 2 %>
              <%= hidden_field_tag  :product_id, @product.id %>      
              <%= submit_tag "Добавить", class: 'cta' %>
            <% end %> 
          </p>
          <% if false %>
            <p><%= link_to t(:show_quantity), product_path(@product, show_quantity: true), remote: true, class: 'btn' %></p>
          <% end %>
          <div class="desc">
            <%= @product.description.html_safe %>
          </div>

        </div>             
             
      </div>

    <div class='btn-bottom'>
      <%= link_to t(:back), products_path, class: 'btn' %>    
      <%= link_to t(:edit), edit_product_path(@product),  class: 'btn' if can? :update, @product %>
    </div> 
  </div>  
</div>