<p><h1><%= @product.title %></h1></p>
<div class='row'>
	<div class='span4'>
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<% @product_assets.each do |assets| %>
    				<div class="item">
    					<%= image_tag(assets.data.url(:medium))%>
    					<div class='carousel-caption'>
    						<h5><%= @product.title %></h5>
    					</div>
    				</div>
    			<% end %>
  			</div>
  			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	<div class='span5'>
		<p><strong class="label label-info"><%= t(:price) %> <%= @product.price%></strong></p>
		<p>
  			<b><%= t(:product_state) %>:</b>
  			<%= @product.product_state.name unless @product.product_state.nil? %></br>
  			<b><%= t(:product_category) %>:</b>
  			<%= @product.product_category.name %>
		</p>
		<p><span id='product_quantity' > </span></p></br>
		<%= link_to t(:show_quantity), product_path(@product, show_quantity: true), remote: true, class: 'btn btn-small btn-info' %>
	</div>
</div>
<div class="tabbable">
	<ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab"><%= t(:description) %></a></li>
    	<li><a href="#tab2" data-toggle="tab"><%= t(:related_products) %></a></li>
  	</ul>
  	<div class="tab-content">
    	<div class="tab-pane active" id="tab1">
      		<p><%= @product.description %></p>
    	</div>
    	<div class="tab-pane" id="tab2">
      		<p>Related products...</p>
    	</div>
  	</div>
</div>


<%= link_to t(:edit), edit_product_path(@product), class: 'btn' if can? :update, @product%> |
<%= link_to t(:back), products_path, class: 'btn' %> |

<script type="text/javascript">
	$('.carousel').carousel({interval: 8000})
</script>
