<% if line_item == @current_item %>
	<tr id='current_item'>
<% else %> 
<tr>
<% end %>

	<td>
		<%= link_to  product_url(line_item.product.id, locale:"ru") do %>
			<%= image_tag( line_item.product.get_head_asset.data.url(:thumb)) unless line_item.product.get_head_asset.nil? %>
		<% end %>
	</td>
	<td>
		<%= link_to  product_url(line_item.product.id, locale:"ru") do %>
			<%= line_item.product.title %>
		<% end %>
	</td>
	<td><%= line_item.quantity %></td>
	<td><%= line_item.product.price %></td>
	<td><%= line_item.quantity * line_item.product.price %></td>
</tr>
