<% if line_item == @current_item %>
	<tr id='current_item'>
<% else %> 
<tr>
<% end %>

	<td>
		<%= link_to  product_path(line_item.product) do %>
			<%= image_tag(line_item.product.assets.first.data.url(:thumb)) unless line_item.product.assets.first.nil? %>
		<% end %>
	</td>
	<td>
		<%= link_to  product_path(line_item.product) do %>
			<%= line_item.product.title %>
		<% end %>
	</td>
	<td><%= line_item.quantity %></td>
	<td><%= line_item.product.price %></td>
	<td><%= line_item.quantity * line_item.product.price %></td>
</tr>
