<div class='navbar-inner'>    
    <ul class="nav">
        <li><%= link_to t('.home'), root_path %></li>
        <li><%= link_to t('.products'), products_path %></li>
        <li><%= link_to t('.posts'), posts_path %></li>                
    	<li><%= link_to t('.orders'), orders_path %></li>
        <% if can? :update, ProductCategory %>
        	<li><%= link_to t('.category_product'), product_categories_path %></li>
        <% end %>
        <% if can? :update, ProductState %>
        	<li><%= link_to t('.state_product'), product_states_path %></li>
        <% end %>
        <% if can? :update, User %>
        	<li><%= link_to t('.users'), users_path %></li>
        <% end %>        
        
    </ul>
<div class="pull-right">
	<ul class='nav'>
		<% if user_signed_in? %>
			<li><%= link_to t(".User") + ": #{current_user.name}", current_user %></li>
			<li><%= link_to t(".Logout"), destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to t(".Login"), new_user_session_path %></li>
		<% end %>
	</ul>
</div>
</div>
                    


           