<!DOCTYPE html>
<html>
<head>
  <title>Магазин</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
  <div class="span6">Welcome!
    <strong>
    <%= render "layouts/menu" %>
    </strong>
  </div>
  <div class="span6">
  <div class="pull-right">
    <%= link_to (current_cart) do %>
      <span class="btn btn-mini cart_total_price"><%= @current_cart.total_price if @current_cart %></span>
      <span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i>
      [<span class="cart_total_quantity"> <%= @current_cart.total_quantity if @current_cart %> </span>] Itemes in your cart</span>
    <% end %>
  </div>
  </div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <%= link_to root_path, class:"brand" do %><%= image_tag "logo.png" %><% end %>
    
    <%= form_tag products_path, method: :get, class:"form-inline navbar-search" do %>
      <%= text_field_tag :query, params[:query], class:"srchTxt" %>

      <%= collection_select(:category, :category_id,  ProductCategory.roots, :id, :name, :include_blank=> true )  %>
      <!-- <select class="srchTxt">
          <option>All</option>
          <option>CLOTHES </option>
          <option>FOOD AND BEVERAGES </option>
          <option>HEALTH & BEAUTY </option>
          <option>SPORTS & LEISURE </option>
          <option>BOOKS & ENTERTAINMENTS </option>
      </select>-->

      <%= submit_tag "Go", name: nil, class:"btn btn-primary" %>
    <% end %>


    <ul id="topMenu" class="nav pull-right">
   <li class=""><%= link_to "Акция", products_path %></li>
   <li class=""><%= link_to "Новости", posts_path %></li>
   <li class=""><%= link_to "Контакты", Post.get_post_by_role("contact") %></li>
   <li class="">

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="btn btn-large btn-success">Выйти</span>
      <% end %>   
    <% else %>
      <%= link_to new_user_session_path do %>
        <span class="btn btn-large btn-success">Войти</span>
      <% end %>
    <% end %> 
  </li>
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->


<div id="mainBody">
  <div class="container">
    <div class="row">
      <!-- Sidebar ================================================== -->
      <div id="sidebar" class="span3">
        <%= render "./layouts/sidebar" %>
      </div>
      <!-- Sidebar End================================================ -->
      <div class="span9">
        <% if notice %> <p id="notice"><%= notice %></p> <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<div id="footerSection">
  <%= render "./layouts/footer" %>
</div>
<% debug params if Rails.env.development? %>
<% debug session[:user_id] if Rails.env.development? %>
</body>
</html>