<!DOCTYPE html>
<html>
<head>
  <title>StoreOrders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id='wrapper'>
      <!-- header -->
      <div id='header'>
        <div id='page-title'>
          <h1><%= link_to 'Shopping cart', root_path %></h1>
        </div>
        <!-- nav -->                
        <%= render "./layouts/menu" %>        
        <p id='utility'>
          <span class="customer">
            <% if user_signed_in? %>
              <%= link_to "<i class='icon-user'></i>#{current_user.name}".html_safe, current_user %>
              <%= link_to "<i class='icon-on-off'></i>".html_safe, destroy_user_session_path, method: :delete %>
            <% else %>
               <%= link_to t(".Login"), new_user_session_path %>
            <% end %>       
          </span>
          <%= link_to (current_cart), class: 'cart' do %> 
            <span><i id="cart_total_quantity"> <%= @current_cart.total_quantity if @current_cart %> </i>
             <b id="cart_total_price"> <%= @current_cart.total_price if @current_cart %> </b></span>
          <% end %>
        </p>      
        <!-- end nav -->
      </div>        
      <!-- end header -->

     
      <!-- content -->
      <div id='content'>          
            <div class='sidebar'>
              <%= render "./layouts/product_catalog" %>
            </div>
            <div class='main'>            
              <% if notice %> <p id="notice"><%= notice %></p> <% end %>
              <%= yield %>
            </div>         
      </div>
      <!-- end content -->
    </div>
    <!-- footer -->
    <div id='footer-wrapper'>
      <div id='footer'>        
          <p>Контакты тел</p>
          <p>Контакты тел</p>
          <p>Контакты тел</p>
          <p>Контакты тел</p>
          <p>Контакты тел</p>        
      </div>  
    </div>
    <!-- end footer -->

<script type="text/javascript">
$(document).ready(function()
{
  /*-------------------------------------------    
      On State
  -------------------------------------------*/
$('#main-nav li').each(function() {
  var href = $(this).find('a').attr('href');
  if (href === window.location.pathname) {
    $(this).addClass('on');
  }
});

  /*-------------------------------------------    
      Grey Initial Values
  -------------------------------------------*/
  var filled = $('input.filled');
    
  if(filled.length > 0){
    for(var i = 0; i < filled.length; i++){
              
      $(filled[i]).addClass('empty');
      filled[i].initialValue = filled[i].value;
      
      filled[i].onclick = filled[i].onfocus = function(){
        $(this).removeClass('empty');
        $(this).addClass('filled');
        if(this.value == this.initialValue){
          this.value= '';
        }
      }
      
      filled[i].onblur = function(){
        if(this.value == this.initialValue || this.value == ''){
          $(this).addClass('empty');
          $(this).removeClass('filled');
          this.value = this.initialValue;
        }else{
          $(this).addClass('empty');
          $(this).removeClass('filled');
        }
      }
    }
  }
  
  else
  {
    return; 
  }
  
});

</script>

<% debug params if Rails.env.development? %>
<% debug session[:user_id] if Rails.env.development? %>
</body>
</html>
