<!DOCTYPE html>
<html>
<head>
  <title>StoreOrders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="templatemo_wrapper">
	<div id="templatemo_header">

    	<div id="site_title">
        	<h1>Store orders</h1>
        </div>

        <div id="header_right">
	        <a href="#">My Account</a> | <a href="#">My Wishlist</a> | <a href="#">My Cart</a> | <a href="#">Checkout</a> | <a href="#">Log In</a>
		</div>

        <div class="cleaner"></div>
    </div> <!-- END of templatemo_header -->

   <%= render "./layouts/menu" %>

    <div id="templatemo_main">



			<div id="sidebar" class="float_l">
				<%= render "./layouts/product_catalog" %>
			</div>
        <div id="content" class="float_r">

		   	<%= yield %>

        <!--	<h1>New Products</h1>
            <div class="product_box">
            	<a href="productdetail.html"><img src="images/product/01.jpg" alt="Image 01" /></a>
                <h3>Integer eleifend sed</h3>
                <p class="product_price">$ 100</p>
                <a href="shoppingcart.html" class="add_to_card">Add to Cart</a>
                <a href="productdetail.html" class="detail">Detail</a>
            </div>
            <div class="product_box">
            	<a href="productdetail.html"><img src="images/product/02.jpg" alt="Image 02" /></a>
                <h3>Nam cursus facilisis</h3>
                <p class="product_price">$ 200</p>
                <a href="shoppingcart.html" class="add_to_card">Add to Cart</a>
                <a href="productdetail.html" class="detail">Detail</a>
            </div>
            <div class="product_box no_margin_right">
            	<a href="productdetail.html"><img src="images/product/03.jpg" alt="Image 03" /></a>
                <h3>Mauris consectetur</h3>
                <p class="product_price">$ 120</p>
                <a href="shoppingcart.html" class="add_to_card">Add to Cart</a>
                <a href="productdetail.html" class="detail">Detail</a>
            </div> -->





        </div>
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main -->

    <div id="templatemo_footer">
		<%= render "./layouts/templatemo_footer" %>


    </div> <!-- END of templatemo_footer -->

</div> <!-- END of templatemo_wrapper -->




<%= debug params if Rails.env.development? %>
<% debug session[:user_id] if Rails.env.development? %>
</body>
</html>
